.decorative_image {
    font-size: 12px;
    color: black;
    padding: 100px;
    margin: 50px;
    max-width: 20px;
    max-height: 20px;
}

.non_decorative_image {
    font-size: 12px;
    color: black;
    padding: 100px;
    margin: 50px;
    max-width: 200px;
    max-height: 300px;
}

h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    font-weight: 100;
    color: black;
    margin: 0;
    padding: 35px;
}

h2 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
    font-weight: 100;
    color: maroon;
    margin: 0;
    padding: 20px;
}

h3 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: 100;
    color: rgb(2, 2, 137);
    margin: 0;
    padding: 20px;
}

p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 12px;
    font-weight: 100;
    color: rgb(162, 31, 31);
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 20px;
}