.decorative_image {
    font-size: 12px;
    color: black;
    padding: 0px;
    margin: 0px;
    max-width: 20px;
    max-height: 20px;
}

.non_decorative_image {
    font-size: 12px;
    color: black;
    padding: 20px;
    margin: 0px;
    max-width: 200px;
    max-height: 300px;
}

.grey_div {
    background-color: rgb(138, 0, 0);
    max-width: 600px;
    margin: 0 auto;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

body {
    background: rgb(77, 0, 0);
}

h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 40px;
    font-weight: 100;
    color: white;
    margin: 0;
    padding: 35px;
}

h2 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    font-weight: 100;
    color: white;
    margin: 0;
    padding: 20px;
}

h3 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
    font-weight: 100;
    color: white;
    margin: 0;
    padding: 20px;
}

p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    font-weight: 100;
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 20px;
}

ol {
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    font-weight: 100;
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 20px;
}

ul {
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    font-weight: 100;
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 20px;
}

form {
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    font-weight: 100;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 20px;
}